sudo: required

branches:
  except:
    - /^v\d+$/

services:
  - docker

cache:
  directories:
  - "$HOME/.ivy2"
  - "$HOME/.sbt"

env:
  global:
    - CI_BUILD_NUMBER=$TRAVIS_BUILD_NUMBER

before_install:
  - >
    if [ -n "$DOCKER_USER" ] && [ "$TRAVIS_PULL_REQUEST" == "false" ] && [ "$TRAVIS_BRANCH" == "master" ]; then
      docker login --username $DOCKER_USER --password $DOCKER_PASS;
    fi

script:
  - >
    if [ "$TRAVIS_PULL_REQUEST" == "false" ] && [ "$TRAVIS_BRANCH" == "master" ]; then
      make publish;
    else
      make package;
    fi

after_success:
  - >
    if [ "${TRAVIS_PULL_REQUEST}" = "false" ] && [ "${TRAVIS_BRANCH}" = "master" ]; then
      eval "$(ssh-agent)";
      echo $GITHUB_DEPLOY_KEY > /tmp/github_deploy_key;
      chmod 600 /tmp/github_deploy_key;
      ssh-add /tmp/github_deploy_key;
    fi
  - >
    if [ "${TRAVIS_PULL_REQUEST}" = "false" ] && [ "${TRAVIS_BRANCH}" = "master" ]; then
      git config --global user.email "builds@travis-ci.org";
      git config --global user.name "Travis CI";

      export GIT_TAG=v$(make version);
      echo "GIT_TAG=$GIT_TAG";

      git tag $GIT_TAG -f -a -m "Version $GIT_TAG built by Travis CI - https://travis-ci.org/$TRAVIS_REPO_SLUG/jobs/$TRAVIS_JOB_ID";
      git push -q git@github.com:$TRAVIS_REPO_SLUG.git --tags;
    fi
